<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plant Details</title>
  <!-- 引入 Bootstrap CSS 文件 -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .btn-container {
      display: flex;
      justify-content: center;
      margin-top: 20px; /* 调整按钮与内容的距离 */
    }
    .custom-bg-color {
      background-color: #bedee7; /* 自定义颜色 */
    }
    nav button{
      background-color: #00B7FF;
    }

  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light custom-bg-color ">
  <div class="container">
    <!-- 返回主页的按钮 -->
      <a class="navbar-brand btn btn-primary" href="/"><-Home</a>

    <!-- 响应式导航栏切换按钮 -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- 导航链接列表 -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Username</a>
        </li>
        <!-- 添加更多导航链接... -->
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <h1>Plant Details</h1>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Plant Name: Sunflower</h5>
      <p class="card-text">Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p class="card-text">Details: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p class="card-text">Date/Time: January 1, 2023 12:00 PM</p>
      <p class="card-text">User Nickname: JohnDoe</p>
      <p class="card-text">Location: New York, USA</p>
      <p class="card-text">Plant Characteristics: Flowers: Yes, Leaves: Yes, Fruits/Seeds: No, Sun Exposure: Full Sun, Flower Color: Yellow</p>
      <!-- 这里可以添加其他信息 -->
    </div>
  </div>

  <div class="btn-container">
    <!-- 按钮1 -->
<!--    <button type="button" class="btn btn-primary mr-2">Back</button>-->
    <a href="/" class="btn btn-primary mr-2 nav-link">Back to Home</a>
    <!-- 按钮2 -->
    <button type="button" class="btn btn-danger ml-2">Edit</button>
  </div>

</div>

<!-- 引入 Bootstrap JavaScript 文件 -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
