<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EJS-test</title>
    <script src="/import/jquery-3.7.1.min.js"></script>
    <link href="/import/bootstrap.min.css" rel="stylesheet">
    <script src="/import/bootstrap.min.js"></script>
</head>
<body>
    <div id="output">
        hello
    </div>
</body>
</html>
<!--<script src="/bundle.js">-->

<!--</script>-->
<style>
    html,
    body {
        margin: 0;
        height: 100%;
        width: 100%;
    }

    /* 自定义样式 */
    .plant-card {
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 10px;
    }

    .plant-card img {
        max-width: 100%;
        height: 200px;
        width: 200px;
    }
</style>