<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    所有导入必须使用本地文件而不是cdn链接，以保证离线可用-->
    <script src="/import/jquery-3.7.1.min.js"></script>
    <link href="/import/bootstrap.min.css" rel="stylesheet">
    <script src="/import/bootstrap.min.js"></script>
    <script src="/javascript/index.js"></script>
    <script src="/javascript/idb-utility.js"></script>
    <script src="/javascript/commonTool.js"></script>
    <style>
        /* 自定义样式 */
        html,
        body {
            margin: 0;
            height: 100%;
            width: 100%;
            /*overflow: hidden;*/
            font-family: 'Arial', sans-serif;
            background: #f4f4f9; /* lighter gray background */
        }

        .plant-card {
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 20px;
            padding: 10px;
        }

        .plant-card img {
            max-width: 100%;
            height: 200px;
            width: 200px;
        }

        .navbar {
            /*height: 80px;*/
            padding: 10px 20px;
        }

    </style>
</head>
<body>
<div id="welcomePage" style="display:none" class="container">
    <header>
        <h1>Welcome to the Plant Enthusiast's Corner!</h1>
        <p>Please enter your nickname to continue:</p>
    </header>
    <input type="text" id="nickname" placeholder="Enter your nickname here" required>
    <button onclick="handleNickname()">Submit</button>
    <p id="error-message" style="color: red; display: none;">Please enter a nickname.</p>
</div>


<div id="indexPage" style="display:none" class="full-height">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <!--    title of the bar-->
        <a class="navbar-brand d-flex align-items-center" href="/" style="margin: 5px;padding: 0">
            <img src="/images/icon.webp" width="30" height="30px" alt="">
        </a>
        <!--    bar button for folded display on small screens-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/main">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/upload">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/testPage">chat-test</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/getAllUpdateRequests">UpadateRequests</a>
                </li>
            </ul>
        </div>
        <div class="navbar-nav ml-auto">
            <span class="nav-item nav-link" id="userGreeting">Welcome, Username</span>

        </div>
        <button type="button" class="btn btn-primary align-content-center" style="width: 6%" onclick="changeUserName()">Change</button>
    </nav>

    <div class="mainContent" style="height:100%;margin-top: 60px ">
        <iframe id="content-iframe" src="/main" width="100%" height="100%" style="border: none"></iframe>
    </div>
</div>

</body>
<style>
    .footer-container {
        padding: 20px;
    }

    .footer-box {
        float: left;
        width: 400px;
        text-align: center;
    }

    .container, .full-height {
        display: flex;
        flex-direction: column;
        height: 100%; /* accounting for footer height */
    }



    #welcomePage {
        background-color: #fafafa; /* 白色背景提高可读性 */
        /*box-shadow: 0 4px 8px rgba(0,0,0,0.1); !* 添加轻微阴影效果 *!*/
        /*padding: 20px;*/
        /*border-radius: 10px; !* 圆角边框 *!*/
        width: 100%; /* 适应屏幕宽度的90% */
        /*max-width: 600px; !* 最大宽度限制 *!*/
        justify-content: center; /* 垂直居中 */
        align-items: center; /* 水平居中 */
    }

    header h1 {
        color: #27ae60; /* 标题颜色 */
    }

    header p {
        color: #2c3e50; /* 段落文字颜色 */
        margin-bottom: 20px; /* 增加底部边距 */
    }

    input[type="text"] {
        width: 80%; /* 输入框全宽 */
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    input[type="text"]:focus {
        border-color: #27ae60; /* 聚焦时边框颜色 */
        outline: none;
    }

    button {
        width: 50%; /* 按钮全宽 */
        padding: 10px 0;
        background-color: #27ae60;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #218c54;
    }
</style>
</html>
