<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    所有导入必须使用本地文件而不是cdn链接，以保证离线可用-->
    <script src="/import/jquery-3.7.1.min.js"></script>
    <link href="/import/bootstrap.min.css" rel="stylesheet">
    <script src="/import/bootstrap.min.js"></script>
    <script src="/javascript/index.js"></script>
    <script src="/javascript/idb-utility.js"></script>
    <script src="/javascript/commonTool.js"></script>
<!--    <link rel="stylesheet" href="/stylesheets/login.css">-->
    <style>
        /* 自定义样式 */
        html,
        body {
            margin: 0;
            height: 100%;
            width: 100%;
            /*overflow: hidden;*/
            font-family: 'Arial', sans-serif;
            background: #f4f4f9; /* lighter gray background */
        }

        .plant-card {
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 20px;
            padding: 10px;
        }

        .plant-card img {
            max-width: 100%;
            height: 200px;
            width: 200px;
        }

        .navbar {
            /*height: 80px;*/
            padding: 10px 20px;
        }

    </style>
</head>
<body>
<!--<div id="welcomePage" style="display:none" class="container">-->
<!--    <header>-->
<!--        <h1>Welcome to the Plant Enthusiast's Corner!</h1>-->
<!--        <p>Please enter your nickname to continue:</p>-->
<!--    </header>-->
<!--    <input type="text" id="nickname" placeholder="Enter your nickname here" required>-->
<!--    <button onclick="handleNickname()">Submit</button>-->
<!--    <p id="error-message" style="color: red; display: none;">Please enter a nickname.</p>-->
<!--</div>-->



<div>
    <style>
        /* Scope the styles to only affect the welcomePage and its children */
        /**/

        .welcomePage .container {
            background-color: rgba(255, 255, 255, 0.7); /* Slight transparency */
            backdrop-filter: blur(5px); /* Blur effect */
            padding: 2em;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            width: 200%;
            max-width: 600px;
        }

        .welcomePage h2 {
            text-align: center; /* 确保标题居中 */
            margin: 1em; /* 移除边距，减少空间 */
            padding: 10px 0; /* 上下内边距 */
        }
        .welcomePage .form-control {
            width: 100%; /* 输入框宽度 */
            height: 100%; /* 控制高度 */
            margin-bottom: 1em; /* 与下一个元素的间距 */
        }

        .welcomePage .btn {
            width: 100%;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 10px;
            cursor: pointer;
        }

        .welcomePage .btn:hover {
            background-color: #0056b3;
        }

        /*!* Additional styling for the body only when welcomePage is active *!*/
        /*body.show-welcomePage {*/
        /*    !*background-image: url('path_to_your_background_image.jpg'); !* Add your background image path *!*!*/
        /*    background-size: cover;*/
        /*    height: 100vh;*/
        /*}*/
    </style>
<div id="welcomePage" style="display:none" class="container welcomePage" >

    <script>
        // 显示 welcomePage
        function showWelcomePage() {
            var welcomePage = document.getElementById('welcomePage');
            welcomePage.style.display = 'flex'; // 使用 flex 来保持内部元素的布局
        }

        // 隐藏 welcomePage
        function hideWelcomePage() {
            var welcomePage = document.getElementById('welcomePage');
            welcomePage.style.display = 'none';
        }


    </script>
    <h2>Login</h2>
    <div class="form-group">
        <input type="text" id="nickname" name="nickname" placeholder="Enter your nickname here" required class="form-control">
    </div>
    <button onclick="handleNickname()" class="btn">Submit</button>
    <p id="error-message" style="color: red; display: none;">Please enter a nickname.</p>
</div>
</div>




<div id="indexPage" style="display:none" class="full-height">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <!--    title of the bar-->
        <a class="navbar-brand d-flex align-items-center" href="/" style="margin: 5px;padding: 0">
            <img src="/images/icon.webp" width="30" height="30px" alt="">
        </a>
        <!--    bar button for folded display on small screens-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/main">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/upload">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/getAllUpdateRequests">UpdateRequests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mockSubmit">mockSubmit</a>
                </li>
            </ul>
        </div>
        <div class="navbar-nav ml-auto">
            <span class="nav-item nav-link" id="userGreeting">Welcome, Username</span>

        </div>
        <button type="button" class="btn btn-primary align-content-center" style="width: 6%" onclick="changeUserName()">Change</button>
    </nav>

    <div class="mainContent" style="height:100%;width: 100%;margin-top: 60px;">
        <iframe id="content-iframe" src="/main" width="100%" height="100%" style="border: none; overflow: hidden;"></iframe>
    </div>
</div>

</body>
<style>
    .footer-container {
        padding: 20px;
    }

    .footer-box {
        float: left;
        width: 400px;
        text-align: center;
    }

    .container, .full-height {
        display: flex;
        flex-direction: column;
        height: 100%; /* accounting for footer height */
    }



    #welcomePage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;  /* 宽度可以根据需要调整 */
        max-width: 400px;  /* 最大宽度，确保不会过宽 */
        height: 50%;
        padding: 2em;  /* 减少内边距以减小总高度 */
        background: rgba(255, 255, 255, 0.8);
        border-radius: 8px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.3);
        z-index: 1050;
    }

    header h1 {
        color: #27ae60; /* 标题颜色 */
    }

    header p {
        color: #2c3e50; /* 段落文字颜色 */
        margin-bottom: 20px; /* 增加底部边距 */
    }

    input[type="text"] {
        width: 80%; /* 输入框全宽 */
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    input[type="text"]:focus {
        border-color: #27ae60; /* 聚焦时边框颜色 */
        outline: none;
    }

    button {
        width: 50%; /* 按钮全宽 */
        padding: 10px 0;
        background-color: #27ae60;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #218c54;
    }
</style>
</html>
