<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Requests</title>
    <script src="/javascript/commonTool.js"></script>
    <script src="/import/jquery-3.7.1.min.js"></script>
    <link href="/import/bootstrap.min.css" rel="stylesheet">
    <script src="/import/bootstrap.min.js"></script>
    <script src="/javascript/idb-utility.js"></script>
    <script src="/javascript/mockSubmit.js"></script>
</head>
<body>
    <button onclick="mockSubmit()">mockSubmit</button>
</body>
</html>