<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Plant Form</title>
    <script src="/import/jquery-3.7.1.min.js"></script>
    <link href="/import/bootstrap.min.css" rel="stylesheet">
    <script src="/import/bootstrap.min.js"></script>
    <script src="/javascript/commonTool.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/map.css"/>
    <script type="module" src="/javascript/GoogleMap.js"></script>
    <script src="/javascript/upload.js"></script>
    <script src="/javascript/idb-utility.js"></script>
    <style>
        label{
            font-size: 18px;
            font-weight: bold;
            padding: 20px 0 10px 0;
        }
        .input-group {
            display: flex;
            align-items: center;
        }

        .color-input {
            width: 35px;
            height: 35px;
            padding: 0;
            border: none;
            cursor: pointer;
        }

        .form-control-with-color {
            flex-grow: 1;
        }

        #uploadedImage {
            width: 300px;  /* Set a fixed width */
            height: 300px; /* Set a fixed height */
            object-fit: cover;  /* Ensures the image is scaled to fit the dimensions while maintaining the aspect ratio */
            display: none; /* Initially hide the image */
            border: 1px solid #ccc;  /* Optional: Add a border around the image */
        }
    </style>
</head>
<body>
<div class="container mt-5" style="padding: 0 100px">
    <h1 class="mt-4">Add Plant</h1>
<!--    <form action="/requestHandler/addPlants" method="POST" enctype="multipart/form-data" id="myForm">-->
    <form enctype="multipart/form-data" id="myForm" onsubmit="return mySubmit(this)">
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="description" name="description" required>
        </div>
        <div class="form-group">
            <label for="details">Details:</label>
            <textarea class="form-control" id="details" name="details" required></textarea>
        </div>
        <div class="form-group">
            <label for="datetime">Date and Time seen:</label>
            <input type="datetime-local" class="form-control" id="datetime" name="datetime" required>
        </div>
        <div class="form-group">
            <label for="location">Location:</label>
            <button id="getCurrentLoc">Pan to current</button>
            <input id="search-box" type="text" placeholder="Search for place"  style="height: 40px;margin: 10px">
            <div id="map"></div>
            <input id="lat" name='lat' type="hidden" required>
            <input id="lng" name='lng' type="hidden" required>
        </div>

        <br>
        <hr class="border-dark">
        <br>

        <div class="form-group">
            <h3>Plant Characteristics:</h3>
            <label>Does the plant have flowers?</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="flowersYes" name="flowers" value="yes">
                <div class="form-check-label" >Yes</div>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="flowersNo" name="flowers" value="no">
                <div class="form-check-label">No</div>
            </div>
            <!-- 添加其他特征的单选框 -->
        </div>
        <div class="form-group">
            <label for="sunExposure">Sun Exposure:</label>
            <select class="form-control sun" id="sunExposure" name="sunExposure">
                <option disabled selected value>- Please choose the sun exposure</option>
<!--                <option value hidden>重置</option>-->
                <option value="fullSun">Full Sun</option>
                <option value="partialShade">Partial Shade</option>
                <option value="fullShade">Full Shade</option>
            </select>
        </div>
        <div class="form-group">
            <label for="flowerColorText">Flower Color:</label>
            <div class="input-group">
                <!-- Text input for displaying the color name -->
                <input type="text" class="form-control form-control-with-color" id="flowerColor" name="flowerColor" placeholder="choose from ColorPicker at right" readonly="readonly" >
                <!-- Color picker positioned on the right -->
                <input type="color" class="color-input" id="flowerColorPicker" name="flowerColorPicker" onchange="updateFlowerColor()" required>
            </div>
        </div>

        <br>
        <hr class="border-dark">
        <br>

        <div class="form-group">
            <h3>Identification</h3>
            <label for="name">Plant Name:</label>
            <input type="text" class="form-control" id="name" name="plantName" required>

            <label>Status</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="statusComplete" name="status" value="Completed">
                <div class="form-check-label" >Completed</div>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="statusInProgress" name="status" value="In Progress">
                <div class="form-check-label" >In Progress</div>
            </div>
        </div>

        <div class="form-group">
            <label for="photo">Photo:</label><br>
            <input type="file" class="form-control-file" id="photo" name="photo" accept="image/*" required>
        </div>
        <br>
        <img id="uploadedImage" alt="Uploaded Image" style="display:none;"/>

        <div class="form-group">
            <label for="nickname">User Nickname:</label>
            <input type="text" class="form-control" id="nickname" name="nickname" required>
        </div>
        <p> </p>
        <div class="text-center" style="padding-bottom: 20px">
            <button id="submit_btn" type="submit" class="btn btn-primary btn-lg" >Submit</button>
        </div>
    </form>
</div>
<script>
    var photo, base64Image
    function checkForm(form){
        // 检查是否至少有一个单选按钮被选中
        const flowersYes = document.getElementById('flowersYes');
        const flowersNo = document.getElementById('flowersNo');
        if (!(flowersYes.checked || flowersNo.checked )) {
            alert('Please select whether the plant has flowers.');
            flowersYes.focus()
            return false; // 防止表单提交
        }
        if (!selectSunExposure()){
            alert('Please choose the Sun Exposure.');
            const sunExposure=document.getElementById("sunExposure")
            sunExposure.focus()
            return false; // 防止表单提交
        }
        const color=document.getElementById("flowerColor")
        if (color.value==null || color.value===""){
            alert('Please choose the color.');
            color.focus()
            return false; // 防止表单提交
        }
        const complete = document.getElementById('statusComplete');
        const inProgress = document.getElementById('statusInProgress');
        if (!(complete.checked || inProgress.checked )) {
            alert('Please select the status of the identification.');
            complete.focus()
            return false; // 防止表单提交
        }
        // if (getMarker()==null){
        //     alert('Please select the location');
        //     const map=document.getElementById('map')
        //     map.focus()
        //     return; // 防止表单提交
        // }
        //限制图片大小
        photo = form.elements['photo'].files[0];
        var fileSize=photo.size;
        console.log("file size: "+fileSize/(1024*1024)+"MB");
        if((fileSize/(1024*1024))>4){
            alert("Plant Image cannot exceed 4MB");
            return false;
        }
        return true
    }

    async function changeFormToObj(form) {
        console.log('run changeFormToObj()')

        let formData = new FormData(form);

        formData.set('plantId',createPlantId(formData.get('plantName')))
        formData = await changeImageFormat(formData);

        const formObject = {};
        formData.forEach((value, key) => {
            formObject[key] = value;
            // console.log(`${key}: ${value}`)
        });
        // console.log(formData)
        return formObject;
    }


    async function changeImageFormat(formData) {
        console.log('run changeImageFormat()')
        return new Promise((resolve, reject) => {
            if (photo) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    base64Image = e.target.result;
                    formData.append("base64Image", base64Image);
                    formData.delete("photo");
                    resolve(formData);
                };
                reader.onerror = function(error) {
                    reject(error);
                };
                reader.readAsDataURL(photo);
            } else {
                // 如果没有图片，直接返回 formData
                resolve(formData);
            }
        });
    }


    function mySubmit(form){
        console.log("ready to submit: "+form)
        //做表单验证（非空+限制图片大小）
        if (checkForm(form)){
            console.log('处理表单')
            changeFormToObj(form).then(plantObj=>{
                console.log(plantObj)
                if (plantObj!=null){
                    console.log('plantObj!=null')
                    const plants=[plantObj]
                    openPlantsIDB().then(IDB=>{
                        console.log('add new plant to IDB')
                        addNewPlantsToIDB(IDB,plants)
                    }).catch(err=>{
                         console.log('err: '+err)
                     })
                    openSyncPlantsIDB().then(syncIDB=>{
                        console.log('add new plant to syncIDB')
                        addNewPlantToSync(syncIDB,plantObj)
                    }).catch(err=>{
                        console.log('err: '+err)
                    }).finally(()=>{
                        alert('submit successfully')
                        // console.log("current plant id: "+plantObj.plantId);
                        setPlantId(plantObj.plantId)
                        window.location.href="/detail";
                        return true
                    })
                }else {
                    console.log('plantObj==null')
                }

            })
        }else {
            console.log('有空值')
            return false
        }
        return false
    }
    function selectSunExposure(){
        const select = document.querySelector('.sun');
        const reset = document.querySelector('.sun option:nth-child(2)');
        const select_index = select.selectedIndex;
        console.log("select_index: "+select_index)
        return select_index !== 0;

    }

    // Synchronize the text field with the color picker
    function updateFlowerColor() {
        const colorPicker = document.getElementById('flowerColorPicker');
        const colorText = document.getElementById('flowerColor');
        colorText.value = colorPicker.value;
    }

    document.getElementById('photo').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const img = document.getElementById('uploadedImage');
                img.src = e.target.result;
                img.style.display = 'block';  // Ensure the image is visible
            };
            reader.readAsDataURL(file);
        }
    });

</script>
</body>
</html>
