<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Plant Form</title>
    <script src="/import/jquery-3.7.1.min.js"></script>
    <link href="/import/bootstrap.min.css" rel="stylesheet">
    <script src="/import/bootstrap.min.js"></script>
    <script src="/javascript/commonTool.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/map.css"/>
    <script type="module" src="/javascript/GoogleMap.js"></script>
    <script src="/javascript/idb-utility.js"></script>
    <style>
        label{
            font-size: 18px;
            font-weight: bold;
            padding: 20px 0 10px 0;
        }
        .input-group {
            display: flex;
            align-items: center;
        }

        .color-input {
            width: 35px;
            height: 35px;
            padding: 0;
            border: none;
            cursor: pointer;
        }

        .form-control-with-color {
            flex-grow: 1;
        }

        #uploadedImage {
            width: 300px;  /* Set a fixed width */
            height: 300px; /* Set a fixed height */
            object-fit: cover;  /* Ensures the image is scaled to fit the dimensions while maintaining the aspect ratio */
            display: none; /* Initially hide the image */
            border: 1px solid #ccc;  /* Optional: Add a border around the image */
        }
    </style>
</head>
<body>
<div class="container mt-5" style="margin:0;padding: 0 100px">
    <h1 class="mt-4">Add Plant</h1>
<!--    <form action="/requestHandler/addPlants" method="POST" enctype="multipart/form-data" id="myForm">-->
    <form id="myForm" >
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="description" name="description" required>
        </div>
        <div class="form-group">
            <label for="details">Details:</label>
            <textarea class="form-control" id="details" name="details" required></textarea>
        </div>
        <div class="form-group">
            <label for="datetime">Date and Time seen:</label>
            <input type="datetime-local" class="form-control" id="datetime" name="datetime" required>
        </div>
        <div class="form-group" id="mapForm">
            <label for="location">Location:</label>
            <button id="getCurrentLoc">Pan to current</button>
            <input id="search-box" type="text" placeholder="Search for place"  style="height: 40px;margin: 10px">
            <div id="map"></div>
            <input id="lat" name='lat' type="hidden" required>
            <input id="lng" name='lng' type="hidden" required>
        </div>

        <br>
        <hr class="border-dark">
        <br>

        <div class="form-group">
            <h3>Plant Characteristics:</h3>
            <label>Does the plant have flowers?</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="flowersYes" name="flowers" value="yes">
                <div class="form-check-label" >Yes</div>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="flowersNo" name="flowers" value="no">
                <div class="form-check-label">No</div>
            </div>
            <!-- 添加其他特征的单选框 -->
        </div>
        <div class="form-group">
            <label for="sunExposure">Sun Exposure:</label>
            <select class="form-control sun" id="sunExposure" name="sunExposure">
                <option disabled selected value>- Please choose the sun exposure</option>
<!--                <option value hidden>重置</option>-->
                <option value="fullSun">Full Sun</option>
                <option value="partialShade">Partial Shade</option>
                <option value="fullShade">Full Shade</option>
            </select>
        </div>
        <div class="form-group">
            <label for="flowerColorText">Flower Color:</label>
            <div class="input-group">
                <!-- Text input for displaying the color name -->
                <input type="text" class="form-control form-control-with-color" id="flowerColor" name="flowerColor" placeholder="choose from ColorPicker at right" readonly="readonly" >
                <!-- Color picker positioned on the right -->
                <input type="color" class="color-input" id="flowerColorPicker" name="flowerColorPicker" onchange="updateFlowerColor()" required>
            </div>
        </div>

        <br>
        <hr class="border-dark">
        <br>

        <div class="form-group">
            <h3>Identification</h3>
            <label for="name">Plant Name:</label>
            <input type="text" class="form-control" id="name" name="plantName" required>

            <label>Status</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="statusComplete" name="status" value="Completed">
                <div class="form-check-label" >Completed</div>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="statusInProgress" name="status" value="In Progress">
                <div class="form-check-label" >In Progress</div>
            </div>
        </div>

        <div class="form-group">
            <label for="photo">Photo:</label><br>
            <input type="file" class="form-control-file" id="photo" name="photo" accept="image/*" required>
        </div>
        <br>
        <img id="uploadedImage" alt="Uploaded Image" style="display:none;"/>

        <div class="form-group">
            <label for="nickname">User Nickname:</label>
            <input type="text" class="form-control" id="nickName" name="nickName" required>
        </div>
        <p> </p>
        <div class="text-center" style="padding-bottom: 20px">
            <button id="submit_btn" type="button" class="btn btn-primary btn-lg" onclick="mySubmit(this.form)">Submit</button>
        </div>
    </form>
</div>
</body>
<script src="/javascript/upload.js"></script>
</html>
