body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.footer {
  height: 60px; /* consistent footer height */
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
}